body {
	background-color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ 
  body {
    background-color: lightblue;
  }
}
@media (min-width:600px)  {
  body {
    background-color: #fff;
  }
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

.todo-items {
  padding: 0;
}

.todo-items > .todo-item {
  list-style-type: none;
  padding: 8px;
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  margin-top: 0.5rem;
  background-color: #f7f7f7;
  font-size: 14px;
  color: #151515;
  cursor: pointer;
}

.todo-items > .todo-item:hover {
  background-color: #f0f0f0;
}

.todo-add {
  list-style-type: none;
  padding: 8px;
  border: 1px dashed #999;
  border-radius: 8px;
  margin-top: 8px;
  font-size: 14px;
  color: #151515;
  cursor: pointer;
}

.todo-edit {
  border: 0;
}

.todo-edit:focus {
  outline: none;
}

.todo-item-remove {
  float: right;
  margin-top: 4px;
  display: block;
  width: 16px;
  height: 16px;
}